@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    background-color: rgb(17, 24, 39);
    font-family: 'Inter', sans-serif;
    margin: 0;
}

#body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    border: 1px solid transparent;
    border-radius: 16px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 1px;
    transition: all 0.15s linear;
}

.purple-button {
    background-color: rgb(112, 81, 239);
}

.blue-button {
    background-color: rgba(29, 201, 160, 0.08);
}

.button:hover {
    background-color: rgba(29, 201, 160, 0.08);
    border-color: rgb(112, 81, 239);
    color: rgb(112, 81, 239);
    transform: translateY(-5px) scale(1.05);
}

.button:active {
    background-color: transparent;
    border-color: rgb(112, 81, 239);
    color: rgb(112, 81, 239);
    transform: translateY(5px) scale(0.95);
}

.button:disabled {
    background-color: rgba(255, 255, 255, 0.16);
    color: rgb(142, 142, 147);
    border-color: rgb(142, 142, 147);
}

/* NAVIGATION */
.toggle-switch {
    position: relative;
    width: 100px;
    height: 50px;
    --light: rgb(216, 219, 224);
    --dark: rgb(40, 41, 44);
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
}
  
.switch-label {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
}
  
.checkbox {
    position: absolute;
    display: none;
}
  
.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: rgb(40,41,44);
}
  
.checkbox:checked ~ .slider {
    background-color: var(--light);
}
  
.slider::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
  
.checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 12vw;
}

#nav-link-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link > a {
    padding-right: 35px;
    text-decoration: none;
}

.nav-button-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Make Hamburger not appear on desktop */
#hamburger {
    display: none;
}

/* SPLASH SECTION - Everything above, copy throughout site! include media query for mobile nav bar*/
#splash-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 10vw 0;
}

#splash-left-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    max-width: 700px;
}

#splash-left-container > h2 {
    font-size: 72px;
    line-height: 1.182em;
}

#splash-left-container > p {
    font-size: 24px;
    width: 80%;
}

#job-title {
    color: rgb(112,81,239);
}

.splash-button-container {
    display: flex;
    gap: 35px;
}

#pro-image {
    width: 50%;
    max-width: 700px;
    flex-shrink: 0;
}
/* SKILLS */
#skill-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 30vh 10vw 0;
}

.accent-line {
    width: 10%;
    height: 5px;
    border-style: solid;
    border-width: 0 0 5px 0;
    color: rgb(112,81,239);
}

.section-header {
    font-size: 50px;
}

#skill-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 35px;
}

#card {
    width: 125px;
    height: 125px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: rgb(255, 255, 255);
    display: flex;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    transition: all 0.4s;
}

#card::before {
    letter-spacing: 0.2em;
    position: absolute;
    bottom: 8px;
    left: 20px;
    color: rgb(51, 51, 51);
    font-size: 0.8em;
    font-weight: 700;
}
  
#card div {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
      cursor: pointer;
      z-index: 10;
      transition: all .4s;
      background-color: rgb(255, 255, 255);
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center;
}
  
#card:hover div {
    transform: translateY(-40px);
}
/* Make mobile card text not appear */
.card-container {
    align-items: center;
    justify-content: center;
}

.mobile-card-text {
    display: none;
    padding-top: 5px;
    font-size: .9em;
    font-weight: 900;
    text-align: center;
}

  
.html-card::before {
    content: 'HTML5';
}
  
.html-card div {
      background-image: url(./images/section-icons/html5.png);
}
  
.css-card::before {
    content: 'CSS3';
}
  
.css-card div {
      background-image: url(./images/section-icons/css3.png);
}
  
.javascript-card::before {
    content: 'JavaScript';
}
  
.javascript-card div {
      background-image: url(./images/section-icons/javascript.png);
}
  
.git-card::before {
    content: 'git';
}
  
.git-card div {
      background-image: url(./images/section-icons/git.png);
}
  
.github-card::before {
    content: 'github';
}
  
.github-card div {
      background-image: url(./images/section-icons/github.png);
}
  
.power-automate-card::before {
    content: 'MS Power Automate';
}
  
.power-automate-card div {
      background-image: url(./images/section-icons/powerautomate.png);
}
  
.sass-card::before {
    content: 'SCSS';
}
  
.sass-card div {
      background-image: url(./images/section-icons/sass.png);
}
/* CERTIFICATIONS */
#certification-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 70px 10vw 0;
}

.section-header {
    font-size: 50px;
}

#certification-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 35px;
}

.six-sigma-card::before {
    content: '6σ Green Belt';
}
  
.six-sigma-card div {
      background-image: url(./images/section-icons/leansixgreenbelt.png);
}
/* PROJECTS */
#project-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 70px 10vw 0;
}

.section-header {
    font-size: 50px;
}

#project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 35px;
}

.project-card {
    width: 350px;
    height: 350px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: rgb(255, 255, 255);
    display: flex;
    border-radius: 20px;
    justify-content: center;
    position: relative;
    transition: all .4s;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 1vh;
    gap: 20px;
}

#calculator-container {
    display: flex;
    flex-direction: column;
}

.calculator-card {
    background-image: url(./images/project-demos/calculator.gif);
}

#etch-a-sketch-container {
    display: flex;
    flex-direction: column;
}

.etch-a-sketch-card {
    background-image: url(./images/project-demos/etch-a-sketch.gif);
}
/* MEDIA QUERIES */
@media screen and (max-width: 1238px) {
    #header {
        justify-content: flex-end;
    }
    .nav-button-container > .purple-button {
      display: none;
    }
    .topnav a {
      display: none;
    }
    .topnav.responsive a {
      display: block;
    }
    /* Hamburger Styles */
    #hamburger {
      display: none;
    }
    .nav-toggle {
      position: relative;
      width: 50px;
      height: 50px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      transition-duration: .5s;
    }
    .bars {
      width: 100%;
      height: 6px;
      background-color: rgb(112,81,239);
      border-radius: 4px;
    }
    #bar2 {
      transition-duration: .8s;
    }
    #bar1,#bar3 {
      width: 70%;
    }
    #hamburger:checked + .nav-toggle .bars {
      position: absolute;
      transition-duration: .5s;
    }
    #hamburger:checked + .nav-toggle #bar2 {
      transform: scaleX(0);
      transition-duration: .5s;
    }
    #hamburger:checked + .nav-toggle #bar1 {
      width: 100%;
      transform: rotate(45deg);
      transition-duration: .5s;
    }
    #hamburger:checked + .nav-toggle #bar3 {
      width: 100%;
      transform: rotate(-45deg);
      transition-duration: .5s;
    }
    #hamburger:checked + .nav-toggle {
      transition-duration: .5s;
      transform: rotate(180deg);
    }
    /* Navigation Links */
    .mobile-nav-style {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        top: 90px;
        left: 0%;
        width: 100%;
        height: 100%;
        z-index: 9999;
    }
    #nav-link-container {
        justify-content: flex-start;
        padding-top: 40px;
        gap: 30px;
        font-size: 7vw;
    }
    .nav-link > a {
        padding-right: 0px;
    }
    /* Skill/Cert Cards */
    #card:hover div {
        transform: none;
    }
    #card::before {
        content: none;
    }
    .mobile-card-text {
        display: block;
    }
}




@media (max-width: 995px) {
    #splash-section {
        flex-direction: column;
        gap: 40px;
        padding: 100px 20px 0px 20px;
    }
    #splash-left-container {
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;
    }
    #pro-image {
        width: 100%;
    }
    #splash-left-container> h2 {
        width: 95%;
        font-size: 90px;
        text-align: center;
    }
    #splash-left-container > p {
        width: 95%;
        font-size: 35px;
        text-align: center;
    }
    .button.purple-button.splash {
        padding: 30px 60px;
        font-size: 30px;
    }
    .button.blue-button.splash {
        padding: 30px 60px;
        font-size: 30px;
    }
    .accent-line {
        width: 20%;
    }
    #skill-section {
        padding: 120px 20px 0px 20px;
    }
    #certification-section {
        padding: 120px 20px 0px 20px;
    }
    #project-section {
        padding: 120px 20px 0px 20px;
    }
    #project-container {
        flex-direction: column;
        align-items: center;
        gap: 100px;
    }
    .project-card {
        width: 720px;
        height: 720px;
    }
    .project-button-container {
        flex-direction: row;
        padding-top: 10px;
        gap: 40px;
    }
    .button.purple-button.project {
        padding: 30px 60px;
        font-size: 30px;
    }
    .button.blue-button.project {
        padding: 30px 60px;
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    #splash-left-container {
        /* padding: 0px 0px 0px 50px; */
        justify-content: center;
        align-items: center;
    }
    #splash-left-container> h2 {
        width: 85%;
        font-size: 70px;
    }
    #splash-left-container > p {
        width: 85%;
        font-size: 25px;
    }
    .button.purple-button.splash {
        padding: 20px 40px;
        font-size: 23px;
    }
    .button.blue-button.splash {
        padding: 20px 40px;
        font-size: 23px;
    }
    .button.purple-button.project {
        padding: 20px 40px;
        font-size: 23px;
    }
    .button.blue-button.project {
        padding: 20px 40px;
        font-size: 23px;
    }
    #project-container {
        flex-direction: column;
        align-items: center;
    }
    .project-card {
        width: 500px;
        height: 500px;
    }
}

@media (max-width: 596px) {
    .button.purple-button.splash {
        padding: 15px 30px;
        font-size: 16px;
    }
    .button.blue-button.splash {
        padding: 15px 30px;
        font-size: 16px;
    }
    .button.purple-button.project {
        padding: 15px 30px;
        font-size: 16px;
    }
    .button.blue-button.project {
        padding: 15px 30px;
        font-size: 16px;
    }
}

@media (max-width: 479px) {
    #splash-left-container> h2 {
        width: 100%;
        font-size: 50px;
    }
    #splash-left-container > p {
        width: 100%;
        font-size: 20px;
    }
    #skill-container {
        gap: 20px;
    }
    #certification-container {
        gap: 20px;
    }
    #project-container {
        flex-direction: column;
        align-items: center;
    }
    #card {
        width: 98px;
        height: 98px;
    }
    .project-card {
        width: 300px;
        height: 300px;
    }
    .project-button-container {
        flex-direction: column;
        padding-top: 10px;
        gap: 10px;
    }
    .button.purple-button.project {
        padding: 15px 30px;
        font-size: 16px;
    }
    .button.blue-button.project {
        padding: 15px 30px;
        font-size: 16px;
    }
}

@media (max-width: 408px) {
    .splash-button-container {
        flex-direction: column;
        width: 70%;
        gap: 10px;
    }
}

/* FOOTER */
#footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 100px;
}

.footer-top-container {
    display: flex;
    flex-direction: row;
}

#footer-section > a, .footer-item {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 2s;
}
#footer-section > a:hover {
    border-bottom: 1px solid white;
    color: rgba(252, 252, 252, 0.849);
}

.contact {
    height: 50px;
    width: 50px;
    margin: 5px;
    border: none;
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
}

.contact:hover {
    cursor: pointer;
}

.contact.linkedin {
    background-image: url(./images/section-icons/linkedin-contact.png);
}

.contact.github {
    background-image: url(./images/section-icons/github-contact.png);
}